<!DOCTYPE html>
<html>
<head>
  <title>Detalles del cat</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/cat.css">
</head>
<body>  
  <div class="card">
    <img src="<%= cat.image %>" alt="<%= cat.nombre %>" class="card__image">
    <div class="card__content">
      <h1 class="card__title"><%= cat.description %></h1>
    </div>
  </div>
</body>
</html>
